body {
  font-family: Arial, sans-serif;
  background: #cbd7e3;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.form-container input {
  padding: 8px;
  margin: 5px;
  width: 130px;
}

button {
  padding: 8px 15px;
  background-color: #223170;
  color: rgb(255, 252, 252);
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #323131;
}

th, td {
  padding: 8px;
}

.totals {
  margin-top: 20px;
  background: rgb(152, 177, 238);
  padding: 15px;
  border-radius: 8px;
}

canvas {
  margin-top: 30px;
  max-width: 500px;
}
